<header class="header-container">
    <div class="content-left">
        <div class="sidebar-close"> 
            <img src="./assets/close.svg" alt="" class="img" (click)="toggleSidebar()" >
        </div>
    </div>   
    <div class="content-right">
        <div class="options-header">
            <div class="option-notification">
                <i class="fa-solid fa-bell">
                    <div class="note"></div>
                </i>
            </div>
            <div class="option-config">
                <i class="fa-solid fa-gear"></i>
            </div>
            <div class="option-help">
                <div class="help-img">
                    <i class='bx bx-help-circle'></i>
                    <span>Ayuda</span>
                </div>
            </div>
        </div>
        <div class="corte"></div>
        <div class="info-user">
            <div class="user-text">
                <h2>Admin</h2>
                <span>Administrador</span>
            </div>
            <div class="user-img">
                <div class="image-user">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>

        <div class="options-menu">
            <div class="icon-menu">
                <i class="fas fa-light fa-ellipsis-vertical"></i>
            </div>
        </div>
    </div>
</header>